---
layout: default
title: Forever a Student
pagination:
  enabled: true
---

<div id="home" class="container-fluid">

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <p>
        {{ site.about_me }}
      </p>
    
      <h1>Posts</h1>
      <ul class="posts list-unstyled">
        {% for post in paginator.posts %}
        <li>
          <div class="row">
            <div class="col-md-3">
              <span class="date pull-right">{{ post.date | date_to_string }}</span> 
            </div>
            <div class="col-md-9">
              <span class="title"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></span>
            </div>
          </div>
        </li>
        {% endfor %}
      </ul>

      {% if paginator.total_pages > 1 %}
      <nav aria-label="Page navigation">
        <ul class="pagination">
          {% if paginator.first_page and paginator.first_page != paginator.page %}
          <li>
            <a href="{{ paginator.first_page_path | prepend: site.baseurl }}" aria-label="Newest">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          {% endif %}

          {% if paginator.page_trail %}
            {% for trail in paginator.page_trail %}
              <li {% if page.url == trail.path %}class="disabled"{% endif %}>
                  <a href="{{ trail.path | prepend: site.baseurl }}" title="{{trail.title}}">{{ trail.num }}</a>
              </li>
            {% endfor %}
          {% endif %}

          {% if paginator.last_page and paginator.last_page != paginator.page %}
          <li>
            <a href="{{ paginator.last_page_path | prepend: site.baseurl }}" aria-label="Oldest">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
          {% endif %}
        </ul>
        {% endif %}
      </nav>

    </div>
  </div>
</div>
